@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;1,500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  color: #e5e7eb;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #1f2937;
}

#logo {
  width: 75px;
  height: auto;
  margin-right: auto;
  cursor: pointer;
}

.links {
  list-style: none;
}

.links li {
  display: inline-block;
  padding: 0px 5px;
}

.links li a {
  transition: all 0.3s ease 0s;
}

.links li a:hover {
  color: black;
}

main {
  background-color: #1f2937;
  padding: 30px;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__text {
  align-self: flex-start;
  margin: 50px;
}

.hero__image {
  height: 500px;
  width: auto;
  margin: 50px;
}

.hero__tag {
  margin: 10px;
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
}

.hero__desc {
  margin: 10px;
  font-weight: 500;
  font-size: 18px;
  color: #e5e7eb;
}

.hero__button {
  display: block;
  margin-top: 15px;
  padding: 20px;
  width: 160px;
  background: #1e90ff;
  text-align: center;
  color: #f9faf8;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
  border-style: none;
}

.hero__button:hover,
.hero__button:focus,
.hero__button:active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
}

/* everything to do with footer */

footer {
  display: flex;
  justify-content: center;
  background-color: #1f2937;
  padding: 20px 0px;
}

footer p {
  font-weight: 500;
  font-size: 10px;
  color: #e5e7eb;
}
